[mysqld]
ndbcluster
ndb-connectstring=mysql-manager-1;mysql-manager-2
user=mysql
default_storage_engine=ndbcluster                   # store your data in data nodes (and not in mysql servers) if we don't specify the db engine in CREATE TABLE

[mysql_cluster]
ndb-connectstring=mysql-manager-1;mysql-manager-2